@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;500;600&family=Fraunces:wght@700;900&family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    /* ======Typography===== */
    /*
        ===========================
     */
    /* font family */
    --body-font_family: 'Barlow', sans-serif;
    --heading-font_family: 'Fraunces', serif;
    --text-font_family: 'Red Hat Display', sans-serif;
    /* font size */
    --font-size: 18px;
    --font-size-48: 48px;
    --font-size-24: 24px;
    /* font weight */
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-900: 900;
    /* ====Colors==== */
    /*
        =============================
     */
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan-text: hsl(167, 40%, 24%);
    --dark-blue-photography-text: hsl(198, 62%, 26%);
    --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
    /* Neutral */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* screen sizes */
    --mobile: 375px;
    --desktop: 1440px;
    /* height */
    --line-height: 1em;
    /* animation */
    --transition: .4s ease;
}

body {
    font-family: var(--body-font_family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ion-icon {
    color: var(--white);
    font-size: 40px;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

ul, li {
    list-style: none;
    list-style-type: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    height: 90vh;
    background: url('../images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
}

@media (max-width: 768px){
    .menu-items {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 85%;
    height: auto;
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: var(--transition);
    padding: 0;
}
}


.menu-items.active{
    top: 4em;
}

.menu-item-list {
    text-align: center;
    margin: 1.1em 0;
    padding: .3em 0;
}

.menu-link {
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    font-weight: var(--font-weight-900);
    color: var(--very-dark-grayish-blue);
    font-family: var(--text-font_family);
    padding: 0;
}

.contact-btn {
    color: var(--dark-blue-photography-text);
    background-color: var(--yellow);
    padding: .7em 1.8em;
    border-radius: 1.2em;
    font-weight: var(--font-weight-900);
    transition: var(--transition);
}

.header-title {
    color: var(--white);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-900);
    letter-spacing: .1em;
    line-height: var(--line-height);
    font-family: var(--heading-font_family);
    text-align: center;
    margin-bottom: 1em;
}

.header-container {
    text-align: center;
    width: 80%;
    margin: 30% auto;
}

.header-container img {
    width: 30px;
    height: 80px;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.d-grid-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3em;
}

.d-grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.d-grid-item-1 {
    /* order: -2; */
    text-align: center;
}

.grid-container {
    width: 80%;
    margin: 2em auto;
}

.heading-title {
    color: var(--very-dark-desaturated-blue);
    font-size: 32px;
    font-weight: var(--font-weight-900);
    font-family: var(--heading-font_family);
    /* max-width: 300px; */
    margin-bottom: 1em;
    /* margin: .5em auto; */
    text-align: center;
}

.heading-lead {
    color: var(--dark-grayish-blue);
    font-family: var(--text-font_family);
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: center;
    margin-bottom: 1em;
}

.learn-more-link {
    color: var(--very-dark-desaturated-blue);
    font-family: var(--heading-font_family);
    font-weight: var(--font-weight-900);
    font-size: 1.1em;
    line-height: 1.5em;
    text-align: center;
}

.learn-more {
    text-align: center;
    position: relative;
    width: 90%;
    /* margin: 0 auto; */
}

.learn-more::before {
    content: "";
    position: absolute;
    top: .9em;
    width: 100px;
    padding: .3em;
    z-index: -99999;
    background-color: rgba(252, 252, 28, 0.5);
}

.learn-more-2 {
    text-align: center;
    position: relative;
    width: 90%;
    /* margin: 0 auto; */
}

.learn-more-2::before {
    content: "";
    position: absolute;
    top: .9em;
    width: 100px;
    padding: .3em;
    z-index: -99999;
    background-color: rgba(252, 88, 28, 0.5);
}

.d-grid-item-1 {
    /* background: rgb(243, 247, 243); */
    /* order: 1; */
}

.d-grid-item-2 img {
    height: 100%;
    width: 100%;
}

/* Graohics section */

.grid-image {
    background: url('../images/mobile/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.grid-image-2 {
    background: url('../images/mobile/image-photography.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.graphic-content {
    position: absolute;
    bottom: 6em;
    text-align: center;
}

.graphic-container {
    width: 80%;
    margin: 0 auto;
}

.graphic-header {
    margin-bottom: .7em;
    font-size: 2em;
    font-weight: var(--font-weight-900);
    font-family: var(--heading-font_family);
}

.graphic-lead {
    line-height: 1.7em;
    font-size: var(--font-size);
    font-weight: var(--font-weight-600);
    color: var(--dark-desaturated-cyan-text);
}

.client-container {
    width: 85%;
    margin: 4em auto;
}

.client-content {
    text-align: center;
    margin-bottom: 3em;
}

.client-content img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-bottom: 1.2em;
}

.client-content p {
    line-height: 1.6em;
    margin-bottom: 1.4em;
    color: var(--very-dark-grayish-blue);
    font-size: var(--font-size);
}

.client-content h5 {
    line-height: 1.6em;
    /* margin-bottom: 1.4em; */
    color: var(--very-dark-desaturated-blue);
    font-size: var(--font-size);
    font-weight: var(--font-weight-900);
    font-family: var(--heading-font_family);
}

.client-content small {
    color: var(--grayish-blue);
    font-size: .9em;
}

.text-center {
    text-align: center;
    margin-bottom: 3em;
    letter-spacing: .1em;
    color: var(--dark-grayish-blue);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-900);
    font-family: var(--heading-font_family);
}

/* footer */

footer {
    padding: 3em;
    background-color: var(--dark-moderate-cyan-footer);
}

.foooter-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
}

.footer-logo {
    text-align: center;
    color: var(--dark-desaturated-cyan-text);
    font-size: 2.1em;
    font-weight: var(--font-weight-900);
    font-family: var(--text-font_family);
    margin-bottom: 1em;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
    text-align: center;
}

.footer-links a {
    color: var(--dark-desaturated-cyan-text);
    font-size: var(--font-size);
    font-weight: var(--font-weight-700);
}

.foooter-icons img {
    /* height: 50px;
    width: 50px; */
    /* margin-right: 2em; */
}

@media (min-width: 730px) {
    .d-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .d-grid-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3em;
    }
    .d-grid-3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .d-grid-item-1 {
        text-align: left;
        order: -1;
    }
    .header-container {
        text-align: center;
        width: 80%;
        margin: 8% auto;
    }
    header {
        height: 95vh;
        background: url('../images/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
    ion-icon {
        display: none;
    }
    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-item-list {
        margin-right: 3em;
    }
    .menu-link {
        color: var(--white);
        font-size: 1.1em;
        font-weight: var(--font-weight-700);
        transition: var(--transition);
    }
    .menu-link:hover {
        color: var(--yellow);
    }
    .contact-btn {
        color: var(--dark-blue-photography-text);
        background-color: var(--white);
        padding: .4em 1em;
        border-radius: .9em;
        font-weight: var(--font-weight-900);
        transition: var(--transition);
    }
    .contact-btn:hover {
        color: var(--white);
        background-color: rgba(243, 241, 241, 0.4);
    }
    /* Graohics section */
    .grid-image {
        background: url('../images/desktop/image-graphic-design.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 80vh;
        position: relative;
    }
    .grid-image-2 {
        background: url('../images/desktop/image-photography.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 80vh;
        position: relative;
    }
    .grid-container {
        width: 80%;
        margin: 7em auto;
    }
    .heading-title {
        max-width: 500px;
        margin-bottom: 1em;
        font-size: 2em;
        text-align: left;
    }
    .heading-lead {
        color: var(--dark-grayish-blue);
        font-family: var(--text-font_family);
        font-size: 1.1em;
        line-height: 1.6em;
        text-align: left;
        margin-bottom: 1em;
    }
    .learn-more-link {
        text-align: left;
    }
    .learn-more {
        text-align: left;
    }
    .learn-more-2 {
        text-align: left;
    }
    .header-title {
        font-size: 4em;
        margin-bottom: .7em;
        letter-spacing: 0em;
    }
    .graphic-content {
        position: absolute;
        bottom: 5em;
        text-align: center;
        /* margin-top: 2em; */
    }
    .graphic-container {
        width: 80%;
        margin: 1% auto;
    }
    /* footer links */
    .footer-links {
        justify-content: center;
        align-items: center;
    }
    .footer-links a {
        margin-right: 1.8em;
        transition: var(--transition);
    }
    .footer-links a:hover {
        color: var(--white);
    }
    .footer-links a:focus {
        color: var(--white);
    }
    .foooter-icons {
        justify-content: center;
        align-items: center;
    }
    .foooter-icons li {
        margin-right: 1.8em;
        transition: var(--transition);
    }
    .foooter-icons .icons:hover {
        filter: invert(99%) sepia(7%) saturate(4%) hue-rotate(141deg) brightness(190%) contrast(100%);
    }
    .foooter-icons .icons:focus {
        filter: invert(99%) sepia(7%) saturate(4%) hue-rotate(141deg) brightness(190%) contrast(100%);
    }
}

@media (max-width: 768px) {
    .graphic-content {
        position: absolute;
        bottom: 4em;
        text-align: center;
        /* margin-top: 2em; */
    }
}
